#col1{
    background-color:#404D61;
    height: 100px;
    color: white;
}
#web{
    font-size: 20px;
}
#col7{
    border: 3px;
}
#col3{
    background-color: #D9D9D9;
    height: 800px;

}